<div class="row">
  <div class="col-md text-center">
    <h3><em class="title">{{ title }}</em></h3>
  </div>
</div>
<div style="margin-bottom: 3%;"></div>
<hr style="color: rgb(63, 86, 121);" />
<div class="row">
  <div *ngFor="let tile of tiles; let i = index" class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    <div class="card bg-light" style="max-width: 35rem; max-height: 25rem; margin:1rem;">
      <a href="javascript:function disabler() { return false; }" routerLink="/service">
        <img class="card-img-top" src="{{ tile.image }}" style="max-height: 10rem;" alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ tile.title }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let phrase of tile.phrases" class="list-group-item">{{ phrase }}</li>
      </ul>
    </div>
  </div>
</div>
