<nav class="navbar mt-5" [ngStyle]="{'background-color': 'rgba(63, 86, 121, 0.5)'}">
  <div class="navbar-expand l-auto navbar-text">
    Copyright <i class="fa fa-copyright"></i>  <a href="https://">cloudltd</a>
  </div>
  <div class="navbar-expand l-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://facebook.com/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://instagram.com" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
