<div style="margin-bottom: 3%;"></div>
<div class="row">
  <div class="col-lg">
    <app-whois></app-whois>
  </div>
</div>
<div style="margin-bottom: 3%;"></div>
<hr style="color: rgb(63, 86, 121);" />
<div style="margin-bottom: 3%;"></div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-skills></app-skills>
  </div>
</div>
<div style="margin-bottom: 6%;"></div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-partners></app-partners>
  </div>
</div>
